body{
  background-image: url(cool-background.png);
}
header {
  text-align: center;
  color: white;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
  outline: none;
  border-color: transparent;
  border-radius: 12px;
  height: 50px;
  transform: scale(1.01);  
}
button:hover {
  transform: scale(1.05);
}
#popUp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
}
/* game board */

#boardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  margin-top: 150px;
}
#endGameMsg{
  display: none;
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  font-size: 60px;
  position: relative;
  color: black;
  background-color: #eee;
  border-radius: 10px;
}
.cell:hover{
  background-color: white;
}
/*  player names */
#players{
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 50px;
  color: white;
}
.p1{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.p2{
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.disabled{
 display: none;
}
/* responsiveness  */
/* for screens smaller than 600px */
@media screen and (max-width: 600px) {
  #boardContainer {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    font-size: 40px;
  }
  .cell {
    width: 125px;
    height: 100px;
    font-size: 40px;
  }
  #players {
    flex-direction: column;
    gap: 20px;
  }
  .p1, .p2 {
    width: 50%;
    height: 80px;
    font-size: 20px;
  }
  #player1Name{
    width: 70px;
  }
  #player2Name{
    width: 70px;
  }
}

/* for screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  #boardContainer {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    font-size: 50px;
  }
  .cell {
    width: 120px;
    height: 120px;
    font-size: 80px;
  }
  #players {
    flex-direction: row;
    gap: 20px;
  }
  .p1, .p2 {
    width: 40%;
    height: 120px;
    font-size: 30px;
  }
}


